img{
    width: 50%;
    border: 2px solid black;
    margin-top: 50px;
}
body{
    background-color:#C0C256 ;
    color: white;
    text-align: center;
    
    
}
h1, h2{
    color: black;
}
p{
    width: 90%;
    margin:auto;
    text-align: justify;
}
